# Protokoll "[{{ meta.title }}]({{ base_url }}/tasks/{{ meta.id }})" vom {{ meta.due_date | format_date('%d.%m.%Y %H:%M') }}

**Anwesende:** {% for assignee in meta.assignees %}{{ assignee.name + ' (@' + assignee.username + ')' if assignee.name else '@' + assignee.username }}{% if not loop.last %}, {% endif %}{% endfor %}

Generiert am {{ now | format_date('%d.%m.%Y %H:%M') }} aus Vikunja, mit Kommentaren ab dem {{ meta.start_date | format_date('%d.%m.%Y %H:%M') }} bis zum {{ meta.end_date | format_date('%d.%m.%Y %H:%M') }} und falls vorhanden mindestens die letzten beiden Kommentare vor dem {{ meta.end_date | format_date('%d.%m.%Y %H:%M') }}.

**Tagesordnungspunkte:** {% for task in meta.related_tasks.related %}[{{ task.title }}]({{ base_url }}/tasks/{{ task.id }}){% if not loop.last %}, {% endif %}{% endfor %}
{% for task in meta.related_tasks.related %}
## {{ (projects | selectattr('id', 'equalto', task.project_id) | first).title }}: [{{ task.title }}]({{ base_url }}/tasks/{{ task.id }}) ({{task.created | format_date('%d.%m.%Y %H:%M') }})

{{ task.description }}
{% endfor %}
